@import url("./modal/surrogate-reports.css");
.default-modal-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;
}
.default-modal-content {
  background-color: var(--purple-secondary);
  border-radius: 30px;
}
.modal-scrollbar {
  padding-right: 10px;
}
.modal-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.modal-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
